# Python cache
__pycache__/
*.pyc

# Checkpoints / weights
# *.pt
# *.pth
# checkpoint/

# Ignore only large h5 files
*.h5

# BUT allow this specific h5 (97MB)
!data/transformer_labels.h5

# OS / editor
.DS_Store
.vscode/
